<div class="navbar">
    <div class="container">
        <div class="content">
            <div class="logo">MyNavBar<span>.</span></div>
            <ul class="list-items">
                <li class="item">home</li>
                <li class="item">services</li>
                <li class="item">catalogue</li>
                <li class="item">about</li>
                <li class="item">contact</li>
            </ul>
            <div class="buttons">
                <button class="btn btn-login">login</button>
                <button class="btn btn-register">register</button>
            </div>
        </div>
    </div>
</div>