<div class="login-comp">
    <div class="container">
        <form action="" class="myForm">
            <h1>Login</h1>
            <div class="fields">
                <div class="field">
                    <label for="" class="formLabel">Email address</label>
                    <input class="formControl" type="email" />
                </div>
                <div class="field">
                    <label for="" class="formLabel">Password</label>
                    <input class="formControl" type="password"/>
                </div>
            </div>
            <div class="forgetPass">
                <div>
                    <input type="checkbox">
                    <label id="remember" for="">Remember me</label>
                </div>
                <div>
                    <a href="">ForgetPassword?</a>
                </div>
            </div>
            <div class="buttons">
                <button class="btn btn-login">sign in</button>
            </div>
            <p>Dont have an account? <a routerLink="register">Create account</a></p>
        </form>
    </div>
</div>