<div class="login-comp">
    <div class="container">
        <form action="" class="myForm">
            <h1>Regsitration</h1>
            <div class="fields">
                <div class="field">
                    <label for="" class="formLabel">First name</label>
                    <input class="formControl" type="text" />
                </div>
                <div class="field">
                    <label for="" class="formLabel">Last name</label>
                    <input class="formControl" type="text" />
                </div>
                <div class="field">
                    <label for="" class="formLabel">Email address</label>
                    <input class="formControl" type="email" />
                </div>
                <div class="field">
                    <label for="" class="formLabel">Password</label>
                    <input class="formControl" type="password"/>
                </div>
                <div class="field">
                    <label for="" class="formLabel">Confirm password</label>
                    <input class="formControl" type="password"/>
                </div>
            </div>
            <div class="buttons">
                <button class="btn btn-login">register</button>
            </div>
            <p>Already have an account? <a routerLink="">signin</a></p>
        </form>
    </div>
</div>